@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    p {

        padding: 0;
        margin: 0;
        font-family: "Open Sans", Helvetica, Arial;
    }



    .container {
        display: flex;
        flex-direction: row;

        .col {
            //            position: relative;
            //            width: 188px;

            .sidebar {
                position: fixed;
                width: 188px;
                height: 100%;
                background-color: #191919;
                z-index: 3;

                .logo {
                    height: 61px;
                    padding: 0;
                    display: flex;
                    justify-content: space-around;

                    p {
                        margin: 15px 15px;
                        letter-spacing: 1px;
                        font-size: 35px;
                        font-family: 'Just Another Hand';
                        color: #f5f5f2;

                    }

                    .hamburger {
                        width: 18px;
                        height: 16px;
                        margin-top: 23px;
                        margin-right: 18px;
                        border: 0;
                        border-top: 2px solid #999;
                        position: relative;
                        transition: .3s transform linear;

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            border-top: 2px solid #999;
                            transform: translateY(5px);
                        }

                        &::after {
                            transform: translateY(12px);
                            transition: .3s transform linear;
                        }

                        &:active {
                            transform: rotate(45deg) translateY(5px);
                            border: none;

                            &::after {
                                transform: rotate(-90deg) translateX(-5px);
                                transition: .3s transform linear;
                            }
                        }
                    }
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    width: 188px;
                    height: 300px;
                    padding-bottom: 20px;
                    border-bottom: .5px solid #979797;

                    .button-menu {
                        width: 100%;
                        height: 39px;
                        display: flex;

                        &:hover {
                            background-color: #3e3e3e;
                            color: #f5f5f2;
                            border-left: 4px solid #ffa200;
                            transition: .2s;
                            cursor: pointer;

                            .img-svg {
                                fill: #f5f5f2;
                                transition: .2s;
                            }

                            .button {
                                background-color: #3e3e3e;
                                transition: .2s;

                                & > p {
                                    color: #f5f5f2;
                                    transition: .2s;
                                }
                            }



                        }

                        .img-svg {
                            width: 20px;
                            height: 20px;
                            margin: 10px 5px 0 20px;
                            fill: #5a5858;

                        }

                        .button {

                            width: 100%;
                            height: 30px;
                            padding: 0;
                            margin: auto 10px;
                            background-color: #191919;
                            border: none;

                            & > p {

                                color: #5a5858;
                                font-size: 15px;
                                text-align: left;
                                padding: 6px 0;
                                margin: 0;

                            }


                        }

                    }
                }

                .manager {

                    & > p {
                        color: #5a5858;
                        font-family: arial;
                        font-weight: bold;
                        margin: 20px;
                        font-size: 14px;
                    }

                    .profile {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;

                        .img {
                            display: flex;
                            position: relative;
                            width: 75px;
                            height: 45px;
                            margin: 0 10px 0 20px;
                            justify-content: flex-end;
                            border-radius: 50%;
                            background: url(http://fotoblysk.com/wp-content/uploads/2016/07/Ring-light-portret-1.jpg);
                            background-position: center;
                            background-size: 70px;

                            &::after {
                                content: "";
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                background-color: #04ae00;
                                border-radius: 50%;
                            }


                        }

                        p {
                            width: 100%;
                            display: inline-block;
                            margin: auto 0;
                            font-family: arial;
                            padding-left: 5px;
                            color: #56819f;

                        }
                    }
                }
            }
        }

        .main {
            width: 100%;
            padding: 0;
            margin: 0 0 0 188px;
            display: flex;
            flex-direction: column;

            //######################### GÓRNE MENU ###################################

            .upper-menu {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                height: 61px;
                background-color: #fff;
                align-items: flex-end;
                position: fixed;
                z-index: 2;
                justify-content: flex-end;
                border: 1px solid #e3e3e3;
                margin-left: -188px;


                .menu {
                    height: 61px;
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-end;
                    padding-top: 30px;
                    font-family: arial;
                    border-left: 1px;

                    &:hover {
                        background-color: darkgray;
                    }

                    p {}
                }


                .Layer_1 {
                    width: 17px;
                    height: 18px;
                    padding: 0;
                    box-sizing: border-box;

                }

                .balance {
                    width: 200px;
                    border: 1px solid #e3e3e3;
                    border-top: none;
                    border-bottom: none;

                    p {
                        font-size: 20px;
                        padding: 20px;
                    }

                    #arrow-down {
                        position: relative;
                        top: 3px;
                        margin-right: 20px;
                    }
                }

                .notifications {
                    width: 62px;
                    position: relative;
                    box-sizing: border-box;
                    padding: 20px;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        top: 18px;
                        left: 33px;
                        background-color: #f58220;
                        border-radius: 50%;


                    }

                    #bell {}

                }

                .account {
                    width: 190px;
                    height: 100%;
                    border: 1px solid #e3e3e3;
                    border-bottom: none;

                    #avatar {
                        position: relative;
                        top: 5px;
                        width: 20px;
                        height: 20px;

                    }

                    p {
                        margin: 0;
                        padding: 23px 20px;
                        height: 20px;
                        font-size: 14px;
                        flex-wrap: nowrap;
                        color: #56819f;
                    }
                }

                .logout {

                    width: 69px;
                    height: 59px;
                    border: 1px solid #e3e3e3;
                    border-bottom: none;
                    border-left: none;


                    #quit {
                        position: relative;
                        top: 17px;
                        right: 20px;
                    }

                }
            }

            //######################### TREŚĆ ########################################
            .row-main {
                display: block;
                width: 100%;
                margin-top: 61px;

                .statistic {
                    width: 100%;
                    height: 846px;
                    box-sizing: border-box;
                    background: #fff;
                    border: 18px solid #f5f5f2;
                    display: flex;
                    flex-direction: column;

                    & > p {
                        padding: 18px;
                        color: #979797;
                        text-transform: uppercase;
                        border-bottom: 1px solid #e3e3e3;
                    }
                    
                    .row {
                        width: 100%;
                        border-bottom: 1px solid #e3e3e3;
                    }
                        .date {
                            display: flex;
                            width: 450px;
                            height: 60px;
                            margin: 20px auto;
                            align-items: center;

                            .input {
                                display: flex;
                                height: 40px;
                                border-radius: 10%;
                                align-items: center;
                                margin: 0 auto;
                                border: 1px solid #e3e3e3;


                                .select {
                                    outline: 0;
                                    border: 0;
                                    margin: 10px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    font-family: "Open Sans", Helvetica, Arial;
                                    padding: 10px;
                                    
                                    &:hover {
                                        background-color: #f7f7f7
                                    }

                                    option {}

                                }

                                .icon-calendar {
                                    width: 14px;
                                    padding: 10px;
                                    margin-right: 10px;
                                    fill: #979797;
                                }
                            }

                            .svg-refresh {
                                display: flex;
                                width: 40px;
                                height: 40px;
                                align-items: center;
                                border-radius: 15%;
                                background-color: #f58220;
                                margin-left: -80px;

                                &:hover {
                                    background-color: #d16508;
                                    transition: .5s;
                                }

                                .icon-refresh {
                                    height: 17px;
                                    margin: 12px;
                                    fill: #fff;

                                    &:active {
                                        transform: rotate(360deg);
                                        transition: .5s;
                                    }
                                }

                            }
                        }
                    

                    .container {
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        width: 683px;

                        .general {
                            width: 100%;
                            height: 400px;

                            .info {
                                display: flex;
                                width: 100%;
                                flex-direction: row;
                                margin: 0 auto;
                                padding-top: 20px;
                                justify-content: center;

                                .column {

                                    display: flex;
                                    flex-direction: column;

                                    .line {
                                        display: flex;
                                        width: 300px;
                                        box-sizing: border-box;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        padding-top: 20px;
                                        margin-left: 60px;
                                        border-bottom: 1px solid #e3e3e3;

                                        & > p {
                                            font-size: 16px;
                                            color: #979797;
                                            font-weight: 600;
                                            padding: 5px;
                                            border: none;

                                            &:nth-child(2) {
                                                color: #000;
                                                font-weight: 100;
                                            }
                                        }
                                    }
                                }
                            }


                            .earnings {
                                height: 400px;
                                padding-top: 50px;

                                & > p {

                                    color: #979797;
                                    font-weight: 600;
                                }

                                .buttons {
                                    display: flex;
                                    justify-content: center;
                                    padding-top: 50px;


                                    button {
                                        display: flex;
                                        flex-direction: row;
                                        border: none;
                                        margin-left: 50px;
                                        padding: 10px;
                                        border-radius: 4px;
                                        background-color: #f3f3f3;


                                        & > p {
                                            color: #979797;
                                        }

                                        .circle {
                                            width: 15px;
                                            height: 15px;
                                            margin-right: 10px;
                                            border-radius: 50%;
                                            
                                            &:focus {
                                                border: none;
                                            }

                                        }

                                        #blue {
                                            background-color: #5b9bd5;
                                        }

                                        #orange {
                                            background-color: #ff9a38;
                                        }

                                        #green {
                                            background-color: #59b66d;
                                        }
                                    }

                                    #earned {
                                        background-color: #fff;

                                        & > p {
                                            color: #56819f;
                                        }

                                    }
                                }

                                .chart {
                                    margin-top: 50px;

                                    .img-chart {
                                        display: flex;
                                        justify-content: center;

                                        img {
                                            height: 300px;
                                        }
                                    }
                                }

                            }
                        }

                    }
                }
            }
        }

    }

}
