@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

* {
    font-family: "Open Sans", Helvetica, Arial;
}

.opacity-on {
    position: relative;
    top: -5000px;
    opacity: 0;
    z-index: -10;
    transition: .5s;
}

.opacity-off {
    opacity: 1;
    z-index: 10;
    transition: .5s;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(170, 170, 170, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(170, 170, 170, 0.3);
        background-color: #909090;
    }

    p {

        padding: 0;
        margin: 0;
        font-family: "Open Sans", Helvetica, Arial;
    }
    
//################-LOGOWANIE-########################
    
    .overlay {
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        transition: .5s;

        .login-modal {
            margin: auto;
            background-color: #fff;


            & > p {
                border-bottom: 1px solid #e3e3e3;
                padding: 15px;
                text-transform: uppercase;
                color: #979797;
                font-weight: 500;
            }

            .login {

                display: flex;
                justify-content: center;
                align-items: center;


                form {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 40px;

                    .login-input,
                    .password-input {
                        height: 40px;
                        border: 1px solid #e3e3e3;
                        margin: 10px;
                        border-radius: 5px;
                        transition: .5s;

                        &:hover {
                            border: 1px solid #979797;
                            cursor: pointer;

                            .icon-login,
                            .icon-password {
                                fill: #333;
                            }

                        }

                        .icon-login,
                        .icon-password {
                            width: 20px;
                            height: 20px;
                            padding: 10px;
                            fill: #979797;
                            transition: .5s;

                        }

                        input {
                            width: 200px;
                            height: 38px;
                            font-size: 17px;
                            padding: 0 10px;
                            color: #979797;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;

                            &:focus {
                                cursor: text;
                            }
                        }
                    }

                    .button-login {
                        display: inline-flex;
                        width: 150px;
                        height: 40px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        background-color: #f58220;
                        transition: .5s;
                        margin: 10px;
                        border: none;

                        &:hover {
                            background-color: #ffa200;
                            cursor: pointer;
                        }

                        p {
                            padding: 10px;
                            border: 0;
                            color: #f5f5f3;
                        }
                    }
                }
            }
        }
    }


//############################-WYJŚCIE-#########################
    
    .overlay {

        .quit-modal {
            margin: auto;
            background-color: #fff;


            & > p {
                border-bottom: 1px solid #e3e3e3;
                width: 300px;
                padding: 25px;
                text-transform: none;
                color: #979797;
                font-weight: 500;
            }
            .button-flex {
                display: flex;
                justify-content: flex-end;
                
            .button-cancel {
                display: inline-flex;
                width: 100px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: #979797;
                transition: .5s;
                margin: 20px 0;

                &:hover {
                    background-color: #bababa;
                    cursor: pointer;
                }

                p {
                    padding: 10px;
                    border: 0;
                    color: #f5f5f3;
                }
            }

            .button-quit {
                display: inline-flex;
                width: 100px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: #f58220;
                transition: .5s;
                margin: 20px;

                &:hover {
                    background-color: #ffa200;
                    cursor: pointer;
                }

                p {
                    padding: 10px;
                    border: 0;
                    color: #f5f5f3;
                }
            }
            }
        }
    }

//#########################-PERSONAL--DATA-#################
    
    .row-main {
        
        .statistic-2 {
            
            .row-input {
                display: flex;
                margin: 0 auto;
                width: 100%;
                border-bottom: 1px solid #e3e3e3;
                
                .input-text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 20px auto;
                    width: 500px;
                    
                    .text {
                        padding: 10px;
                        
                        p {
                            text-align: left;
                            color: #979797;
                            width: 120px;
                            padding: 18px;
                            font-weight: 600;
                        }
                    }
                    
                    .input {
                        width: 380px;
                        
                        input {
                            width: 100%;
                            height: 30px;
                            border: 1px solid #e3e3e3;
                            margin: 7px;
                            padding: 5px 10px;
                            border-radius: 2px;
                        }
                    }
                }
                
            }
            
            .button-save {
                width: 100%;
                display: flex;
                justify-content: center;
//                padding: 40px 0;
                .button {
                    display: flex;
                    justify-content: center;
                    width: 100px;
                    height: 40px;
                    border-radius: 5px;
                    background-color: #f58220;
                    transition: .5s;
                    margin: 30px;
                    align-items: center;
                    border: none;

                &:hover {
                    background-color: #ffa200;
                    cursor: pointer;
                }
                     
                    p {
                        text-align: center;
                        color: #e3e3e3;
                        font-size: 17px;
                    }
                }
            }
        }
    }
    
//############################-SIDEBAR-######################

    .container {
        display: flex;
        flex-direction: row;

        .col {
            //            position: relative;
            //            width: 188px;

            .sidebar {
                position: fixed;
                width: 188px;
                height: 100%;
                background-color: #191919;
                z-index: 3;

                .logo {
                    height: 61px;
                    padding: 0;
                    display: flex;
                    justify-content: space-around;

                    p {
                        margin: 15px 15px;
                        letter-spacing: 1px;
                        font-size: 35px;
                        font-family: 'Just Another Hand';
                        color: #f5f5f2;

                    }

                    .hamburger {
                        width: 18px;
                        height: 16px;
                        margin-top: 23px;
                        margin-right: 18px;
                        border: 0;
                        border-top: 2px solid #999;
                        position: relative;
                        transition: .3s transform linear;

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            border-top: 2px solid #999;
                            transform: translateY(5px);
                        }

                        &::after {
                            transform: translateY(12px);
                            transition: .3s transform linear;
                        }

                        &:active {
                            transform: rotate(45deg) translateY(5px);
                            border: none;

                            &::after {
                                transform: rotate(-90deg) translateX(-5px);
                                transition: .3s transform linear;
                            }
                        }
                    }
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 188px;
                    height: 300px;
                    padding-bottom: 20px;
                    border-bottom: .5px solid #333;

                    .button-menu {
                        width: 100%;
                        height: 39px;
                        display: flex;
                        transition: .5s;

                        &:hover {
                            background-color: #3e3e3e;
                            color: #f5f5f2;
                            border-left: 4px solid #ffa200;
                            cursor: pointer;

                            .img-svg {
                                fill: #f5f5f2;
                                transition: .2s;
                            }

                            .button {
                                background-color: #3e3e3e;

                                & > p {
                                    color: #f5f5f2;
                                }
                            }



                        }

                        a {
                            display: flex;
                            justify-content: center;
                            text-decoration: none;

                            .img-svg {
                                width: 30px;
                                height: 30px;
                                margin: 5px 5px 0 20px;
                                fill: #5a5858;
                                transition: .5s;

                            }

                            #icon-personaldata {
                                width: 20px;
                                margin: 5px 5px 0 20px;
                            }

                            .button {

                                width: 100%;
                                height: 30px;
                                padding: 0;
                                margin: auto 10px;
                                background-color: #191919;
                                border: none;
                                transition: .5s;

                                & > p {

                                    color: #5a5858;
                                    font-size: 15px;
                                    text-align: left;
                                    padding: 6px 0;
                                    margin: 0;
                                    transition: .5s;

                                }


                            }

                        }
                    }
                }

                .manager {

                    & > p {
                        color: #5a5858;
                        font-family: arial;
                        font-weight: bold;
                        margin: 20px;
                        font-size: 14px;
                    }

                    .profile {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;

                        .img {
                            display: flex;
                            position: relative;
                            width: 75px;
                            height: 45px;
                            margin: 0 10px 0 20px;
                            justify-content: flex-end;
                            border-radius: 50%;
                            background: url(http://fotoblysk.com/wp-content/uploads/2016/07/Ring-light-portret-1.jpg);
                            background-position: center;
                            background-size: 70px;

                            &::after {
                                content: "";
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                background-color: #04ae00;
                                border-radius: 50%;
                            }


                        }

                        p {
                            width: 100%;
                            display: inline-block;
                            margin: auto 0;
                            font-family: "Open Sans", Helvetica, Arial;
                            padding-left: 5px;
                            color: #56819f;

                        }
                    }
                }
            }
        }

        .main {
            width: 100%;
            padding: 0;
            margin: 0 0 0 188px;
            display: flex;
            flex-direction: column;

            //######################### GÓRNE MENU ###################################

            .upper-menu {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                height: 61px;
                background-color: #fff;
                align-items: flex-end;
                position: fixed;
                z-index: 2;
                justify-content: flex-end;
                border: 1px solid #e3e3e3;
                margin-left: -188px;
                fill: #979797;

                .menu {
                    height: 61px;
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-end;
                    padding-top: 30px;
                    font-family: arial;
                    border-left: 1px;

                    &:hover {
                        cursor: pointer;
                        background-color: #f5f5f2;
                    }

                    p {}
                }


                .Layer_1 {
                    width: 17px;
                    height: 18px;
                    padding: 0;
                    box-sizing: border-box;

                }

                .balance {
                    width: 200px;
                    border: 1px solid #e3e3e3;
                    border-top: none;
                    border-bottom: none;
                    color: #979797;

                    p {
                        font-size: 20px;
                        padding: 20px;
                        font-weight: 500;
                    }

                    #arrow-down {
                        width: 8px;
                        position: relative;
                        top: 3px;
                        margin-right: 20px;
                        transform: rotate(-90deg);
                    }
                }

                .notifications {
                    width: 62px;
                    position: relative;
                    box-sizing: border-box;
                    padding: 20px;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        top: 18px;
                        left: 33px;
                        background-color: #f58220;
                        border-radius: 50%;


                    }

                    #bell {}

                }

                .account {
                    width: 190px;
                    height: 100%;
                    border: 1px solid #e3e3e3;
                    border-bottom: none;

                    #avatar {
                        position: relative;
                        top: 5px;
                        width: 20px;
                        height: 20px;

                    }

                    p {
                        margin: 0;
                        padding: 23px 20px;
                        height: 20px;
                        font-size: 14px;
                        flex-wrap: nowrap;
                        color: #56819f;
                    }
                }

                .logout {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 61px;
                    height: 61px;
                    border: 1px solid #e3e3e3;
                    border-bottom: none;
                    border-left: none;



                    #quit {
                        position: relative;
                        right: -5px;
                    }

                }
            }

            //######################### TREŚĆ ########################################
            .row-main {
                display: block;
                width: 100%;
                height: 100vh;
                background-color: #f5f5f2;
                margin-top: 61px;

                .statistic {
                    width: 100%; 
                    box-sizing: border-box;
                    background: #fff;
                    border: 18px solid #f5f5f2;
                    display: flex;
                    flex-direction: column;

                    & > p {
                        padding: 18px;
                        color: #979797;
                        text-transform: uppercase;
                        border-bottom: 1px solid #e3e3e3;
                    }

                    .row {
                        width: 100%;
                        border-bottom: 1px solid #e3e3e3;
                    }

                    .date {
                        display: flex;
                        width: 450px;
                        height: 60px;
                        margin: 20px auto;
                        align-items: center;
                        justify-content: center;

                        .input {
                            display: flex;
                            height: 40px;
                            border-radius: 6px;
                            align-items: center;
                            margin: 0 auto;
                            border: 1px solid #e3e3e3;
                            transition: .5s;

                            &:hover {
                                border: 1px solid #333;
                                cursor: pointer;

                                .icon-calendar {
                                    fill: #333;
                                    transition: .1s;
                                    cursor: pointer;
                                }
                            }


                            .select {
                                outline: 0;
                                border: 0;
                                margin: 10px;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                font-family: "Open Sans", Helvetica, Arial;
                                padding: 10px;
                                cursor: pointer;

                                option {
                                    transition: .5s;
                                }

                            }

                            .border {
                                width: 1px;
                                height: 25px;
                                background-color: #e3e3e3;
                            }

                            .icon-calendar {
                                width: 14px;
                                padding: 10px;
                                margin-right: 15px;
                                fill: #979797;
                            }
                        }

                        .svg-refresh {
                            display: flex;
                            width: 40px;
                            height: 40px;
                            align-items: center;
                            border-radius: 5px;
                            background-color: #f58220;
                            margin-left: -80px;
                            transition: .5s;

                            &:hover {
                                background-color: #ffa200;
                                cursor: pointer;
                            }

                            .icon-refresh {
                                height: 17px;
                                margin: 12px;
                                fill: #fff;

                                &:active {
                                    transform: rotate(360deg);
                                    transition: .5s;
                                }
                            }

                        }
                    }


                    .container {
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        width: 683px;
                        height: 660px;

                        .general {
                            width: 100%;
                            height: 400px;

                            .info {
                                display: flex;
                                width: 100%;
                                flex-direction: row;
                                margin: 0 auto;
                                padding-top: 20px;
                                justify-content: center;

                                .column {

                                    display: flex;
                                    flex-direction: column;

                                    .line {
                                        display: flex;
                                        width: 300px;
                                        box-sizing: border-box;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        padding-top: 20px;
                                        margin-left: 60px;
                                        border-bottom: 1px solid #e3e3e3;

                                        & > p {
                                            font-size: 16px;
                                            color: #979797;
                                            font-weight: 600;
                                            padding: 5px;
                                            border: none;

                                            &:nth-child(2) {
                                                color: #333;
                                                font-weight: 100;
                                            }
                                        }
                                    }
                                }
                            }


                            .earnings {
                                padding-top: 50px;

                                & > p {

                                    color: #979797;
                                    font-weight: 600;
                                }

                                .buttons {
                                    display: flex;
                                    justify-content: center;
                                    padding-top: 50px;


                                    button {
                                        display: flex;
                                        flex-direction: row;
                                        border: none;
                                        margin-left: 50px;
                                        padding: 10px;
                                        border-radius: 4px;
                                        background-color: #f3f3f3;


                                        & > p {
                                            color: #979797;
                                        }

                                        .circle {
                                            width: 15px;
                                            height: 15px;
                                            margin-right: 10px;
                                            border-radius: 50%;

                                        }

                                        #blue {
                                            background-color: #5b9bd5;
                                        }

                                        #orange {
                                            background-color: #ff9a38;
                                        }

                                        #green {
                                            background-color: #59b66d;
                                        }
                                    }

                                    #earned {
                                        background-color: #fff;

                                        & > p {
                                            color: #56819f;
                                        }

                                    }
                                }

                                .chart {
                                    margin-top: 50px;

                                    .img-chart {
                                        display: flex;
                                        justify-content: center;

                                        img {
                                            display: block;
                                            height: 300px;
                                        }
                                    }
                                }

                            }
                        }

                    }
                }


                //##################-TREŚĆ--2-#############################            
                .statistic-2 {
                    width: 100%; 
                    box-sizing: border-box;
                    background: #fff;
                    border: 18px solid #f5f5f2;
                    display: flex;
                    flex-direction: column;
                    border-top: none;

                    & > p {
                        padding: 18px;
                        color: #979797;
                        text-transform: uppercase;
                        border-bottom: 1px solid #e3e3e3;
                    }

                    .row-2 {
                        width: 100%;
                        border: none;

                        .button-add {
                            display: flex;
                            width: 130px;
                            height: 40px;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            background-color: #f58220;
                            margin: 30px auto;
                            transition: .5s;

                            &:hover {
                                background-color: #ffa200;
                                cursor: pointer;
                            }

                            .svg-plus {

                                .icon-close {
                                    width: 9px;
                                    fill: #fff;
                                    margin-left: 10px;
                                    transform: rotate(45deg);
                                }
                            }

                            p {
                                font-size: 17px;
                                padding: 10px;
                                color: #e3e3e3;
                            }

                        }
                    }

                    .container {
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                        width: 683px;

                        .general {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .column {
                                width: 100%;
                                overflow-y: scroll;
                                height:  900px;
                                border-top: 1px solid #e3e3e3;

                                &::-webkit-scrollbar-track {
                                    -webkit-box-shadow: inset 0 0 6px rgba(170, 170, 170, 0.3);
                                    border-radius: 10px;
                                    background-color: #F5F5F5;
                                }

                                &::-webkit-scrollbar {
                                    width: 7px;
                                    background-color: #f5f5f5;
                                }

                                &::-webkit-scrollbar-thumb {
                                    border-radius: 10px;
                                    -webkit-box-shadow: inset 0 0 6px rgba(170, 170, 170, 0.3);
                                    background-color: #909090;
                                }

                                .line {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    border-bottom: 1px solid #e3e3e3;
                                    padding: 15px 10px;
                                    transition: .5s;

                                    &:hover {
                                        background-color: #f5f5f2;


                                        .svg {

                                            .icon-links,
                                            .icon-trash {
                                                opacity: 1;
                                                transition: .5s;
                                                cursor: pointer;

                                                &:hover {
                                                    transform: scale(1.2);
                                                    transition: .5s;
                                                }
                                            }
                                        }

                                    }


                                    .name {
                                        display: flex;
                                        color: #979797;
                                        font-weight: 600;
                                        width: 250px;

                                    }

                                    .link {
                                        display: flex;
                                        justify-content: flex-start;


                                        a {
                                            width: 300px;
                                            font-family: "Open Sans", Helvetica, Arial;
                                            text-decoration: none;
                                            color: #56819f;
                                            text-align: left;

                                            &:hover {
                                                color: #ffa200;
                                            }
                                        }
                                    }

                                    .svg {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        padding: 0;
                                        margin: 0;

                                        .icon-links {
                                            opacity: 0;
                                            width: 18px;
                                            padding: 10px;
                                            fill: #ff0000;
                                        }

                                        .icon-trash {
                                            opacity: 0;
                                            width: 13px;
                                            padding: 10px;
                                            fill: #979797;
                                            margin-top: -3px;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }

        }

    }

}
