.hamburger {
                position: fixed;
                width: 18px;
                height: 16px;
                top: 25px;
                left: 30px;
                border: 0;
                border-top: 2px solid #999;
                z-index: 4;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    border-top: 2px solid #999;
                    transform: translateY(5px);
                }

                &::after {
                    transform: translateY(12px);
                    transition: .3s transform linear;
                }

                &.close {
                    transform: rotate(45deg) translateY(5px);
                    border: none;
                    transition: .6s ease;

                    &::after {
                        transform: rotate(-90deg) translateX(-5px); //rotate na x
                        transition: .3s transform linear;
                    }
                }
            }